/**/
body {
    background-color: #003545;
}

#con {
    margin-top: 50px;
    padding-left: 300px;
    padding-right: 300px;
    background-image: url(../img/img3.jpg);
    background-color: rgb(0 0 0 / 70%);
    background-color: rgba(0, 0, 0, .7);
    /*filter: brightness(150%);*/
}

.Short {
    width: 100%;
    background-color: #dc3545;
    margin-top: 5px;
    margin-bottom: 25px;
    height: 3px;
    color: #dc3545;
    font-weight: 500;
    font-size: 12px;
}

.Weak {
    width: 100%;
    background-color: #ffc107;
    margin-top: 5px;
    margin-bottom: 25px;
    height: 3px;
    color: #ffc107;
    font-weight: 500;
    font-size: 12px;
}

.Good {
    width: 100%;
    background-color: #28a745;
    margin-top: 5px;
    margin-bottom: 25px;
    height: 3px;
    color: #28a745;
    font-weight: 500;
    font-size: 12px;
}

.Strong {
    width: 100%;
    background-color: #d39e00;
    margin-top: 5px;
    margin-bottom: 25px;
    height: 3px;
    color: #d39e00;
    font-weight: 500;
    font-size: 12px;
}

.carousel-caption{
  font-size: large;

}
.card-body{
    background: #00454A;
}
.card-header{
    background: #3C6562;
}


