
#con {

    margin-top: 50px;
    padding-left: 300px;
    padding-right: 300px;
    background-image: url(../img/agricultura.jpg);
    background-color: rgb(0 0 0 / 70%);
    background-color: rgba(0, 0, 0, .7);

}

.jumbotron {
    padding-top: 0;
    padding-bottom: 10px;
    margin-bottom: 0px;
    text-align: center;
}

.container {
    margin-top: 50px;
    padding-left: 300px;
    padding-right: 300px;
    background-image: url(img/agricultura.jpg);
    background-color: rgb(0 0 0 / 70%);
    /** Otra opción **/
    background-color: rgba(0, 0, 0, .7);

}

/**#navbarNavAltMarkup {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

#btnB{
    justify-content: flex-start;
  
} */

.jumbotron {
    padding-bottom: 10px;
    margin-bottom: 0px;
    text-align: center;
}

body {
    background-color: #669933;
}

.Short {
    width: 100%;
    background-color: #dc3545;
    margin-top: 5px;
    margin-bottom: 25px;
    height: 3px;
    color: #dc3545;
    font-weight: 500;
    font-size: 12px;
}

.Weak {
    width: 100%;
    background-color: #ffc107;
    margin-top: 5px;
    margin-bottom: 25px;
    height: 3px;
    color: #ffc107;
    font-weight: 500;
    font-size: 12px;
}

.Good {
    width: 100%;
    background-color: #28a745;
    margin-top: 5px;
    margin-bottom: 25px;
    height: 3px;
    color: #28a745;
    font-weight: 500;
    font-size: 12px;
}

.Strong {
    width: 100%;
    background-color: #d39e00;
    margin-top: 5px;
    margin-bottom: 25px;
    height: 3px;
    color: #d39e00;
    font-weight: 500;
    font-size: 12px;
}
#inpB{
    position: relative;
    left: 650px;
}
#btnB{
    position: relative;
    left: 650px;
}
#inicia{
    position: relative;
    left: 700px;

}
.carousel-caption{
  font-size: large;

}
.card-body{
    background: #dbd5c4;
    width: 96%;
    max-width: 96%;
    align-self: center;
}
.card-header{
    background: #669933;
    width: 100%;
    max-width: 100%;
    align-self: center;
    text-transform: capitalize;
    text-shadow: #dbd5c4;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.card-footer{
    text-transform: capitalize;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}


